<header class="bg-red">
    <div class="max-width headerBox">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
            alt="logo" class="logo">
        <ul class="nav">
            <li class="navItem"><a href="#product">系列鏡框</a></li>
            <li class="navItem"><a href="#part">門市據點</a></li>
            <li class="navItem"><a href="#blog">部落格</a></li>
            <li class="navItem marginAuto"><a href="#faq">常見問題</a></li>
        </ul>
    </div>
</header>