<header class="bg-red">
    <div class="container headerBox">
        <a href="index.html"><img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
                alt="logo" class="logo"></a>
        <ul class="nav">
            <li class="navItem"><a href="#">系列鏡框</a></li>
            <li class="navItem"><a href="contact.html">門市據點</a></li>
            <li class="navItem"><a href="#">部落格</a></li>
            <li class="navItem marginAuto"><a href="#">常見問題</a></li>
        </ul>
    </div>
</header>