.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

   @include phone() {
    display: block;
  }

  .logo {
    max-width: 80px;
    margin-top: 16px;
    margin-bottom: 15.43px;

     @include phone() {
      margin-left: 15px;
    }
  }

  .nav {
    display: flex;
    justify-content: start;
    align-items: center;
    color: $white;

     @include phone() {
      flex-wrap: wrap;
    }

    .navItem {
      padding: 25px 0;
      margin-right: 64px;
      font-size: 20px;
      line-height: 1.5;

       @include phone() {
        width: 50%;
        padding: 12px 0;
        margin-right: initial;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid $white;
      }
    }

    .marginAuto {
      margin: auto;
    }
  }
}