.fqa-box1 {
    @include section-spacing();

    .title {
        border-left: 8px solid $borderTitle;
        text-indent: 16px;
        margin-bottom: 33px;

        @include phone() {
            margin-bottom: 24px;
        }
    }

    .list {

        .item {
            margin-top: 32px;

            &:nth-of-type(1){
                margin-top: 24px;
            }

            @include phone() {
                margin-top: 24px;
            }

            .item-title {
                font-weight: bold;
                margin-bottom: 8px;
            }
        }

    }
}